<section id="blog">
    <!--<h2 data-bind="text: title"></h2>-->
    <div class="options">
        <ul class="filters list-inline">
            <li class="first"><a class="selected" data-filter="*" href="javascript: void(0);">Show All</a></li>
            <li><a href="javascript: void(0);" data-filter=".programming">Programming</a></li>
            <li><a href="javascript: void(0);" data-filter=".mobile">Mobile</a></li>
            <li><a href="javascript: void(0);" data-filter=".linux">Linux</a></li>
            <li><a href="javascript: void(0);" data-filter=".winrt">Win RT</a></li>
            <li><a href="javascript: void(0);" data-filter=".wordpress">Wordpress</a></li>
            <li><a href="javascript: void(0);" data-filter=".editorial">Editorial</a></li>
        </ul>
        <select class="filters-collapsed" >
            <option value="*">Show All Categories</option>
            <option value=".programming">Programming</option>
            <option value=".mobile">Mobile</option>
            <option value=".linux">Linux</option>
            <option value=".winrt">Win RT</option>
            <option value=".wordpress">Wordpress</option>
            <option value=".editorial">Editorial</option>
        </select>
    </div>

    <span id="blog-loading" class="loading"></span>

    <div id="blog-container" data-bind="foreach: items">
        <div class="blog-item" data-bind="css: categories, isotope: { container: '#blog-container', itemSelector: '.blog-item' }">
            <div>
                <div class="ribbon pull-left">
                    <div class="top ribbon-piece" data-bind="text:pubMonth"></div>
                    <div class="bottom ribbon-piece" data-bind="text:pubDay"></div>
                </div>
                <a data-bind="attr: { href: link }">
                    <h3 data-bind="html: title"></h3>
                </a>

                <p>
                    <span data-bind="html: description"></span>
                    <a data-bind="attr: { href: link }">read more..</a>
                </p>
                
            </div>        
        </div>
    </div>

</section>