<section>
<h2 class="page-title" data-bind="text: title"></h2>

<div style="height:200px; border: 1px solid; float:left;">Some content here</div>

<div style="width: 500px;" class="pull-right">
<ul class="thumbnails" data-bind="foreach: rssitems">
  <li class="span">
   <div class="thumbnail">
    <div class="">
     <a data-bind="attr: { href: link }"> 
        <div class="rssheader" data-bind="text: title"></div>
     </a>
     <span data-bind="text: description"></span>
    </div>
   </div>
  </li>
</ul>
</div>
</section>
