<section id="blog">
    <!--<h2 data-bind="text: title"></h2>-->
    <div class="options">
        <ul class="filters list-inline">
            <li class="first"><a class="selected" data-filter="*" href="javascript: void(0);">Show All</a></li>
            <li><a href="javascript: void(0);" data-filter=".programming">Programming</a></li>
            <li><a href="javascript: void(0);" data-filter=".mobile">Mobile</a></li>
            <li><a href="javascript: void(0);" data-filter=".linux">Linux</a></li>
        </ul>
    </div>

    <div id="blog-container" data-bind="foreach: items, isotope: { itemSelector: '.blog-item' }">
        <div class="blog-item" data-bind="css: categories">
            <a data-bind="attr: { href: link }">
                <h3 data-bind="text: title"></h3>
            </a>
            <p data-bind="text: description"></p>
            <small><a data-bind="attr: { href: link }">Read More</a></small>
                
        </div>
    </div>

</section>