<section>
    <h2 data-bind="text: title"></h2>
    <table class="table table-striped table-hover" data-bind="foreach: channels">
        <tr>
            <td data-bind="text: channel"></td>
            <td><a data-bind="enable: url.length > 0, attr: { href: url }, text: text"></a></td>
        </tr>
    </table>

    <div data-bind="with: license">
        <h2 data-bind="text: heading"></h2>
        <p data-bind="html: description"></p>
    </div>
    
    <div data-bind="with: disclaimer">
        <h2 data-bind="text: heading"></h2>
        <p data-bind="html: description"></p>
    </div>    
</section>