<section>
    <h2>Page Not Found</h2>
    <p>You may have followed a link which is outdated or incorrect. Or we may have screwed up, these things happen.</p>

    <h4>A few things you can try</h4>
    <ul>
        <li>Use your browser's back button to go the previous page you were viewing</li>
        <li>If you accessed this page using a bookmark/favorite, please update the bookmark with the correct link</li>
        <li>Go to the <a href="#">home page</a></li>
        <li>Need help or if you have a question, please <a href="#contact">contact me</a></li>
    </ul>
</section>
