<nav class="navbar navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        <span class="pull-left">Copyright © 2013 Zubin Raj.</span>
        <span class="pull-right">
            <a href="#" target="_blank">Home</a> | 
            <a href="http://www.zubinraj.com/blog/" target="_blank">Blog</a> | 
            <a href="http://www.zubinraj.com/photos/" target="_blank">Photography</a> | 
            <a href="#" target="_blank">Contact</a>
        </span>
    </div>
</nav>
