    <div class="bs-footer">
        <small><i>
            <p>Copyright © 2013 by Zubin Raj. A Mangachalil Connections Website.</p>
            <p>Built using <a href="http://durandaljs.com/">Durandal SPA Template</a>, <a href="http://knockoutjs.com/">Knockout JS</a> and <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.</p>
            <p>Follow me on <a href="https://github.com/zubinraj/">GitHub</a> | <a href="https://twitter.com/zubinraj">Twitter</a></p>
        </i></small>
    </div>
