<section>
    <div id="options">
        <ul id="filters" class="list-inline">
            <li class="first"><a href="javascript: void(0);">Show All</a></li>
            <li><a href="javascript: void(0);" rel="portfolio">Portfolio</a></li>
            <li><a href="javascript: void(0);" rel="people">People</a></li>
            <li><a href="javascript: void(0);" rel="places">Places</a></li>
            <li><a href="javascript: void(0);" rel="birds">Birds</a></li>
        </ul>
    </div>
    <div class="row">
        <!--<ul id="gallery-container"  class="list-inline" data-bind="foreach: images, isotope: { itemSelector: '.gallery-item' }">-->
        <ul id="gallery-container"  class="list-inline" data-bind="foreach: images">
            <li class="gallery-item" data-bind="css: categories">
                <a href="#" class="thumbnail" data-bind="click:$parent.select">
                    <img data-bind="attr: { src: thumbnail }"/>
                    <span data-bind="text: title"></span>
                </a>
            </li>
        </ul>
    </div>
</section>