<section id="gallery">
    <div class="options">
        <ul class="filters list-inline">
            <li class="first"><a class="selected" data-filter="*" href="javascript: void(0);">Show All</a></li>
            <li><a href="javascript: void(0);" data-filter=".portfolio">Portfolio</a></li>
            <li><a href="javascript: void(0);" data-filter=".people">People</a></li>
            <li><a href="javascript: void(0);" data-filter=".places">Places</a></li>
            <li><a href="javascript: void(0);" data-filter=".bird">Birds</a></li>
        </ul>
    </div>
    <div id="gallery-container"  class="list-inline" data-bind="foreach: images, isotope: { itemSelector: '.gallery-item' }">
    <!--<ul id="gallery-container"  class="list-inline" data-bind="foreach: images">-->
        <div class="gallery-item" data-bind="css: categories, style: { height: thumbHeight, width: thumbWidth }">
            <a class="fancybox-thumb" rel="gallery" data-bind="attr: { href: originalUrl }">
                <img class="lazy" src="Content/Images/grey.gif" data-bind="attr: { 'data-original': thumbUrl, title: title, alt: title, height: thumbHeight, width: thumbWidth }"/>
                <!--<span data-bind="text: title"></span>-->
            </a>
        </div>
    </div>
</section>