    <section id="welcome">
    <div class="jumbotron">
        <div class="container">
            <h2 data-bind="html: title"></h2>
            <p>some text here</p>
        </div>
    </div>
    <div class="row show-grid">
        <div class="col-sm-4">
            <div class="widget" data-bind="foreach: widget1">
                <div>
                    <h3 data-bind="text: title"></h3>
                </div>
                <!--<p><img class="img img-thumbnail" data-bind="attr: { src: thumbUrl }" /></p>-->
                <p data-bind="html: description"></p>
                <ul class="list-unstyled" data-bind="foreach: technologies">
                    <li><i class="glyphicon glyphicon-ok" style="color:green"></i>&nbsp;<span data-bind="text: item"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget" data-bind="foreach: widget2">
                <div>
                    <h3 data-bind="text: title"></h3>
                </div>
                <p data-bind="html: description"></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget">
                <div>
                    <h3>Recent Posts</h3>
                </div>
                <ul>
                    <li>here</li>
                    <li>here</li>
                    <li>here</li>
                </ul>
            </div>
        </div>
    </div>
    <!--  Carousel
        consult the Twitter Bootstrap docs at http://twitter.github.com/bootstrap/javascript.html#carousel 
    -->
    <!--<div id="myCarousel" class="carousel slide" >-->
        <!-- Indicators -->
<!--        <ol class="carousel-indicators" data-bind="{foreach: items}">
            <li data-target="#myCarousel" data-bind="attr: {'data-slide-to':$index}, css: {'active':isactive}"  ></li>
        </ol>-->

        <!-- Carousel items -->
<!--        <div class="carousel-inner" data-bind="{foreach: items}">
            <div class="item" data-bind="css: {'active':isactive}">
                <img alt="" data-bind="attr: {'src': imagesrc}" />
                <div class="carousel-caption">
                    <p data-bind="{'text': caption}"></p>
                </div>
            </div>
        </div>-->
        <!-- Carousel nav -->
<!--        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>-->
<!--    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Heading</h2>
                <p>some text here</p>
            </div>
            <div class="col-lg-4">
                <h2>Heading</h2>
                <p>some text here</p>
            </div>
            <div class="col-lg-4">
                <h2>Heading</h2>
                <p>some text here</p>
            </div>
        </div>
    </div>-->

</section>