    <section id="welcome">
    <div class="col-sm-4">
        <div class="widget" data-bind="with: profileWidget">
            <h3 data-bind="text: title"></h3>
            <p data-bind="html: description"></p>
            <ul class="list-unstyled" data-bind="foreach: items">
                <li><i class="glyphicon glyphicon-ok"></i>&nbsp;<span data-bind="html: item"></span></li>
            </ul>
        </div>
        <div class="widget" data-bind="with: developerWidget">
            <h3 data-bind="text: title"></h3>
            <p data-bind="html: description"></p>
            <ul class="list-unstyled" data-bind="foreach: items">
                <li><i class="glyphicon glyphicon-ok"></i>&nbsp;<span data-bind="text: item"></span></li>
            </ul>
        </div>
        <div class="widget" data-bind="with: photographerWidget">
            <h3 data-bind="text: title"></h3>
            <p data-bind="html: description"></p>
            <ul class="list-unstyled" data-bind="foreach: items">
                <li><i class="glyphicon glyphicon-ok"></i>&nbsp;<span data-bind="text: item"></span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget" data-bind="with: recentPostsWidget">
            <h3 class="pull-left" data-bind="text: title"></h3>
            <span class="pull-right more" data-bind="html: moreLink"></span> <span class="clearfix"></span>
            <span id="welcome-blog-loading" class="loading"></span>
            <ul class="list-unstyled" data-bind="foreach: items">
                <li class="list-items">
                    <a data-bind="attr: { href: link }, text: title"></a>
                    <div class="published-date">
                        <span data-bind="text: pubMonth"></span>
                        <span data-bind="text: pubDay"></span>,
                        <span data-bind="text: pubYear"></span>
                    </div>
                </li>
            </ul>
            <div data-bind="html: footer"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget" data-bind="with: recentPhotosWidget">
            <h3 class="pull-left" data-bind="text: title"></h3>
            <span class="pull-right more" data-bind="html: moreLink"></span> <span class="clearfix"></span>
            <span id="welcome-photos-loading" class="loading"></span>
            <div data-bind="foreach: items">
                <div class="img-wrapper">
                    <a href="/#photos">
                        <img class="img-responsive lazy" src="/Content/images/grey.gif" data-bind="attr: { 'data-original': thumbUrl, title: title, alt: title, height: thumbHeight, width: thumbWidth }" />
                        <span class='overlay-caption' data-bind="text: title"></span>
                    </a>
                </div>
            </div>
            <div data-bind="html: footer"></div>
        </div>
    </div>

</section>