body {
    padding-top: 40px;
}

.bs-callout {
    border-left: 5px solid #EEEEEE;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}

.bs-callout-info {
    background-color: #F0F7FD;
    border-color: #D0E3F0;
}

.bs-callout-warning {
    background-color: #FEFBED;
    border-color: #F1E7BC;
}

.bs-footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}

.list-inline h4, h3, h2, h1 {
    color: #333333;
}

.options {
    padding-bottom: 12px;
    padding-top: 17px;
}

.options li.first a {
    border-right: 1px solid #B2B2B2;
    margin-right: 20px;
    padding-right: 25px;
}

.options li {
    /*padding-left: 0px;*/
    /*padding-right: 25px;*/
}

.options li a  {
    display: inline-block;
    line-height: 15px;
    margin-bottom: 0;
    padding: 0 10px;
    text-transform: uppercase;
}

.options li a {
    color: #606060;
}

.options li a:hover {
    color: #E54E4C;
    text-decoration: none;
}

.options li a:active, .options li a.selected {
    color: #E54E4C;
    text-decoration: none;
}

.options li a:focus {
    text-decoration: none;
}

.gallery-item {
    margin: 5px;
}

.widget {
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 20px;
    padding: 20px;
}

.widget > h1, 
.widget > h2,
.widget > h3,
.widget > h4 {
    margin-top: 0px;   /*zeroing this out as there is already padding for the widget*/
}

.widget .img {
    margin-bottom: 10px;
}

.widget .list-items {
    padding-bottom: 10px;
}

.page-host {
    position: relative;
    top: 40px;
}

@media (max-width: 991px) { /*991 is as per bootstrap media definition*/
                            /* to adjust for the fixed nav on top */
    .page-host {
        top: 20px;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.loading {
    margin: 0px auto;
    background: url('images/loading_5-1.gif') no-repeat top center;
    text-align: center;
    display: block;
    /*font-size: 1em;*/
    padding-top: 40px;
    padding-left: 10px;
}

.loading:after {
    content: 'LOADING..';
}

/* Ribbon date */

.ribbon {
    color: #eee;
    cursor: default;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 100px;
    margin: 5px 25px 0 0;
}

.ribbon .top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1px 1px 0 0;
    font-size: 11px;
    padding: 4px 0;
    position: relative;
    text-transform: uppercase;
}

.ribbon .bottom {
    font-size: 17px;
    padding: 5px 0;
}
.ribbon .ribbon-piece {
    background-color: rgba(102, 102, 102, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

